.navbar-nav a{
  font-size: 20px;
}
.bg{
  padding: 60px 0;
  background: #12c2e9;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); */
  background: linear-gradient(to right, #a17e80, #796385, #3b494d);
  min-width: 100%;
  min-height: 100%;
  /* position: fixed; */
  background-size: cover;
  background-position: center;
}