@media all and (min-width: 480px) {
    .form{
        padding: 60px 0;
        background: #12c2e9;  /* fallback for old browsers */
        /* background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); */
        background: linear-gradient(to right, #a17e80, #796385, #3b494d);
        min-width: 100%;
        min-height: 100%;
        /* position: fixed; */
        background-size: cover;
        background-position: center;
    }
    .inner{
    
        width: 450px;
        margin: auto;
        background: #ffffff;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        padding: 40px 55px 45px 55px;
        border-radius: 15px;
        transition: all .3s;

    }

    .form-group {
      margin: 0 auto;
      max-width: 320px;
    }
}
