.post-container {
    background: #f3f5f7;
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 0 2%;
}
.heading {
    height: 126px;
    text-align: center;
    display: flex;
    align-items: center;
}
.image {
    width: 100%;
    height: 210px;
}
.image:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}