body {
    background-color: #cacbd1;
}
.posts-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.posts:hover {
    transform: scale(0.6);
    transition-duration: 0.5s;
}