@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  

}

.home,
.reports,
.products,
.payment {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.Hover:hover{
  transform:scale(1.1);
}
.center-col {
  flex: 1;

  width: '100px';
    height: '100px';
    overflow-X: 'hidden';
    overflow-Y: 'scroll';
}